<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d %6p (%18.18X{correlation_id}) %30.30c{1} [%20.20t]: %X{indent}%m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <!-- LOG everything at INFO level on the console -->
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>

</Configuration>